.registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 35%;
  background-color: rgb(238, 225, 225);
  width: 30vw;
  height: 70vh;
  border-radius: 5%;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;

}

body {
background: linear-gradient(45deg, rgb(31, 10, 167) 0%, rgb(140, 253, 142) 100%);
}
.row{
  gap: 10px;
  margin: 10px;
}
.formulario1{
  margin-bottom: 5px;
}
.formulario2{
  margin: 5px;
}
.formulario3{
  margin: 5px;
}
.formulario4{
  margin: 5px;
}
button{
  margin: 5px;
}